@import "tailwindcss";                              


@font-face {
  font-family: 'APOLLO';
  src: url('/fonts/APOLLO-Regular.woff2') format('woff2');
  font-weight: normal; 
  font-style: normal;
}



body {
  font-family: var(--font-archivo), system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2A6F7E;
}

.apollo-heading {
  font-family: 'APOLLO', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
}


.primary-color{
color: #CFA77F;
}
.secondary-color{
  color: #356DA4;
}
.section-color{
  background-color: #183F47;
}
