@import "tailwindcss";                              


@font-face {
  font-family: 'APOLLO';
  src: url('/fonts/APOLLO-Regular.woff2') format('woff2');
  font-weight: normal; 
  font-style: normal;
}



body {
  font-family: var(--font-archivo), system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2A6F7E;
}

.apollo-heading {
  font-family: 'APOLLO', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-synthesis: none;
}


.primary-color{
color: #CFA77F;
}
.secondary-color{
  color: #356DA4;
}
.section-color{
  background-color: #183F47;
}



/* blog content styling */

.blog-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.blog-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content ul {
  padding-left: 1.5rem;
  list-style: disc;
}

.blog-content li {
  margin-bottom: 0.5rem;
}
.blog-content .points-heading {
  font-size: 14px;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}