@import "tailwindcss";                              


body {
  font-family: var(--font-archivo), system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2A6F7E;
}

.apollo-heading {
  font-family: 'APOLLO', sans-serif;
}

.primary-color{
color: #CFA77F;
}
.secondary-color{
  color: #356DA4;
}
.section-color{
  background-color: #183F47;
}
