@import "tailwindcss";                              


body {
  font-family: var(--font-archivo), system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

.apollo-heading {
  font-family: 'APOLLO', sans-serif;
}

.primary-color{
color: #CFA77F;
}
.secondary-color{
  color: #356DA4;
}
